/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Jul 7, 2025, 1:43:30 PM
    Author     : admin
*/

.Main{
    -fx-background-color: #FFFFFF;
    -fx-padding: 10;
    -fx-alignment: center;
    -fx-spacing: 8;
}

.TextTitle{
    -fx-font-size: 40;
    -fx-font-weight: bold;
    -fx-fill: #000000;
    -fx-stroke: gold;
    -fx-stroke-width: 3;
}

.btn{
    -fx-background-color: #E0E0E0;
    -fx-text-fill: #000000;
    -fx-font-size: 14;
    -fx-pref-width: 200;
    -fx-font-family: "Verdana";
}